@{
    ViewBag.Title = "Sklep z muzyką";
}

<div class="jumbotron">
    <h1>Sklep z muzyką</h1>
    <p class="lead">Zakup piosenkę już teraz. Promocja.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">30% zniżki jeszcze 24 godziny &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Na start</h2>
        <p>
            Jesteśmy nowym startem w świecie dystrybucji muzyki. 
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Czytaj więcej &raquo;</a></p>
    </div>
 
</div>